// Place all the styles related to the generator controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


input[class="demDistrib"] {
	width: 40px;
}

table{
	padding-top:10px;
	padding-bottom:10px;
	padding-left:60px;
	
}

/*
.slider-wrapper {
  display: inline-block;
  width: 20px;
  height: 150px;
  //padding: 0;
}



.slider-wrapper input {
  //width: 150px;
  //height: 20px;
  //transform-origin: 75px 75px;
  //transform: rotate(-90deg);
}
*/
